body {
	text-align: center;
	color: #fff;
}

.header {
	background-color: #86509C;
	padding-top: 30px;
	padding-bottom: 100px;
}
.navbar {
	margin: 0;
	.navbar-brand {
		color: #fff;
		font-size: 25px;
		font-weight: bolder;
		&:hover {
			color: #ddd;
		}
	}
}

.navbar-default {
  background: #86509C;
  border: none;
  border-radius: 0;
  .navbar-nav > li > a {
  	color: #fff;
  	opacity: 0.9;
		font-size: 10px;
		font-weight: lighter;
		text-transform: uppercase;
		&:hover,
		&:focus,
  	&:active {
			background-color: #5D3373;
			color: #fff;
			width: 100%;
			height: 100%;
		}
  }
}

.head-para {
	font-size: 20px;
	padding-top: 80px;
	padding-bottom: 30px;
}

.cuda-btn {
	background-color: #EB7B49;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	border-radius: 2px;
  padding: 12px 40px;
  &:hover,
  &:focus,
  &:active {
  	color: #fff;
  	background-color: #EC8C49;
  }
}

.border-b {
	border: 1px solid #14AA94;
	display: inline-block;
	width: 5%;
	margin-bottom: 2px;
}

.main {
	background-color: #17C1A4;
	padding-top: 100px;
	padding-bottom: 100px;
	p {
		opacity: 0.7;
	}
	.sub-head {
		text-transform: uppercase;
	}
}

.main-head {
	word-spacing: 6px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.artical-row {
	padding-top: 40px;
	.icons {
		font-size: 50px;
		i {
			padding-bottom: 20px;
		}
	}
}
